{# content \Netgen\EzPlatformSiteApi\API\Values\Content #}
{# location \Netgen\EzPlatformSiteApi\API\Values\Location #}

{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}
{% import '@ezdesign/parts/macros/cjw_macros.html.twig' as cjw_macros %}

{% set use_link = true %}

{% if content.fields.body is defined and content.fields.body.empty %}
    {% set use_link = false %}
{% endif %}

{% if content.fields.related_object is defined and not content.fields.related_object.empty %}
    {% set use_link = true %}
{% endif %}


<article class="view-type view-type-{{ view_type }} ng-news vl1">
    {% if not use_link %}
        {{ content_fields.image(content, null, 'i770') }}
    {% else %}
        {{ content_fields.image(content, location, 'i770') }}
    {% endif %}

    <header class="article-header">
        <h2 class="title">
            {% if use_link %}
                <a {{ cjw_macros.content_relation_parameters( location, content ) }}>{{ content_fields.title(content) }}</a>
            {% else %}
                {{ content_fields.title(content) }}
            {% endif %}
        </h2>
        <div class="info">
            {% if not content.fields.authors.empty %}
                {% for author in content.fieldRelations('authors') %}
                    <a href="{{ path(author) }}" class="article-author">{{ author.name }}</a>
                {% endfor %}
            {% endif %}
            {# <time>{{ content.fields.publish_date.value.value|date('j M Y') }}</time> #}
            {% if not content.fields.sponsored_content_disclosure.empty %}
                <span class="sponsored-tag">{{ 'ngsite.layout.sponsored'|trans }}</span>
            {% elseif not content.fields.main_topic.empty %}
                <a href="{{ ngsite_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
            {% endif %}
        </div>
    </header>

    {% if with_intro|default(false) %}
        {{ content_fields.intro(content) }}
    {% endif %}
</article>
