{# content \Netgen\EzPlatformSiteApi\API\Values\Content #}
{# location \Netgen\EzPlatformSiteApi\API\Values\Location #}

{% from '@ezdesign/parts/macros/cjw_macros.html.twig' import
    cjw_toggle_target_id as toggle_target_id,
    cjw_toggle_toggler_attr as toggle_toggler_attr,
    cjw_css_content_class as css_class
%}
{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}
{% import '@ezdesign/parts/macros/cjw_content_fields.html.twig' as cjw_content_fields %}
{% import '@ezdesign/parts/macros.html.twig' as ng_macros %}

{# -- Parameters -- #}
{% set full_content_link = full_content_link|default %}

<article class="view-type view-type-{{ view_type }} {{ css_class( content ) }} vl1">

{#    {{ cjw_content_fields.image( content, location ) }}#}
    {{ ng_macros.content_link( content, cjw_content_fields.image( content, null, 'i480' ) ) }}

    <header class="article-header {{ css_class( content ) }}-{{ view_type }}-body">
        <h2 class="title">
            {{ ng_macros.content_link( content, content_fields.title( content ) ) }}

            {#<a href="{{ path( location ) }}">
                {{ content_fields.title( content ) }}
            </a>#}
        </h2>
    </header>

    <section class="article-body {{ css_class( content ) }}-{{ view_type }}-body">
        {% if with_intro|default( false ) %}
            {% if full_content_link %}<a href="{{ path( location ) }}">{% endif %}
                {{ content_fields.intro( content ) }}
            {% if full_content_link %}</a>{% endif %}
        {% endif %}
    </section>

</article>
